/.vscode/*
main.code-workspace
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
cmake-build-release-web
cmake-build-debug
cmake-build-release-windows
cmake-build-vscode
src/out
build